 body {
    background-color: #121212;
    color: #fff;
    font-family: Poppins, sans-serif;
    font-weight: 100;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;


    height: 100vh;

    display:grid;
    grid-template-areas: 
    "header section"
    "main section"
    "main section";
    
     
    grid-template-columns:  1fr 1fr;
    grid-template-rows: 100px 1fr 100px;
}


:root {
  --text-base: #afb6c2;
  --text-title: #d4ccb6;
  --background: #191816;
  --form-background: #24221f;
  --primary-color: #ffc632;
}

h1 {
  font-size: 1.5rem;
}
header {
    background-color: #121212;
    color: #fff;
    grid-area: header;
    padding-top:20px;
}

header .logo-img {
    padding-left: 40px;
}

section{
    background-color: #252525;
    color: #fff;
    grid-area: section;

}

section img  {
    width: 100%;
    height: 100%;
}

main {
    background-color: #121212;
    grid-area: main;
}

main form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    

    font-family: Poppins, sans-serif;
    font-weight:400;

    background-color: var(--form-background);
    width: 572px;
    border-radius: 4px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 434px;
    padding: 20px;
    box-sizing: border-box;
    margin: 0 auto;
}


.content {
    line-height: 0.2rem;
    margin-bottom:1.5rem;

}


.title-content {
    align-items: center;
    display: flex;
    
}

.title-content img {
    padding-right: 10px;
}


.input-group input {
    
    width: 335px;
    margin-bottom: 1.2rem;
    
    height: 24px;
    background-color: var(--form-background);
    color: var(--text-title);
    border-radius: 3px;
    font-size: 14px;
    
}


input.active {
    border: 3px solid var(--primary-color);
    
}

#email {
   background: url(./images/mail-focus.svg) no-repeat;
    background-position: 2px 2px;
}

input {

    padding-left: 2.2em;
    
}


#password {
   background: url(./images/lock.svg) no-repeat;
    background-position: 2px 2px;
}


input #password {
 padding-left: 2.2em;
 display: flex;

}



.button-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.2rem;
    width:335px;
}

.button-group a {
    color: var(--primary-color);
    text-decoration: none;
}

.button {
    width: 335px;
    height: 100%;
    background-color: #ffc632;
    border: none;
    color: #000;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
}

.error {
    background-color: orangered;
    color: #fff;
    padding: 10px;
    border-radius: 3px;
    margin-top: 40px;
    padding: 10px;
}

.item {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
    margin-top: 1.2rem;
    width:335px;
    background-color: var(--form-background);
    padding: 10px;
}